.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px - 20px); /* Hauteur de la navbar - marge */
}

.authContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

/* Barre verte verticale */
.separator {
    width: 3px;
    background-color: #0d9b8a;
    height: auto;
}

/* ---------------------------------------------------------------------- */

/* Form box */

.box {
    position: relative;
    width: 380px;
    height: 450px;
}

/* ---------------------------------------------------------------------- */

/* Form */

.box form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: black;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box .boxIdentity {
    display: flex;
}

/* Input fields */

.box form .inputBoxIdentity,
.box form .inputBoxOther {
    position: relative;
    margin-top: 35px;
}

.box form .inputBoxOther {
    width: 300px;
}

.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: black;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 94%;
    height: 2px;
    background: black;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
    height: 44px;
}

/* Form button final */

.box form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 5px;
    background: #0d9b8a;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 125px;
    margin-top: 30px;
    color: white;
    transition: 0.5s;
}

.box form input[type="submit"]:hover {
    background: #0d9b8abf;
}

.box form input[type="submit"]:active {
    opacity: 0.8;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

@media screen and (max-width: 500px) {
    .box {
        width: 310px;
        height: 395px;
    }

    .box form {
        padding: 40px 25px;
    }

    .box form .inputBox i.name {
        width: 91%;
    }

    .box form .inputBox i {
        width: 81%;
    }
}

/* Responsive : barre horizontale */
@media screen and (max-width: 991px) {
    .authContainer {
        flex-direction: column;
        align-items: center;
    }

    .separator {
        width: 100%;
        height: 2px;
    }

    .container {
        min-height: calc(110vh);
    }
}

/* ---------------------------------------------------------------------- */