body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 85%;
    width: 100%;
    margin-bottom: 10px;
}

#privateMessages {
    display: flex;
    height: 100%;
    width: 25%;
    border: 2px solid #0d9b8a;
    border-radius: 15px 0 0 15px;
}

#mainBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    align-items: end;
    justify-content: center;
    border: 2px solid #0d9b8a;
    border-left: none;
    border-radius: 0 15px 15px 0;
}

#messagesBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #0d9b8a white;
}

.messagesBox::-webkit-scrollbar {
    height: 8px;
}

.messagesBox::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

.messagesBox::-webkit-scrollbar-thumb {
    background: #0d9b8a;
    border-radius: 4px;
}

.messagesBox::-webkit-scrollbar-thumb:hover {
    background: #0d9b8a;
}


#messageTextarea {
    display: flex;
    text-align: center;
    height: 50px;
    width: 100%;
    resize: none;
    scrollbar-width: none;
    margin: 10px 2px 5px 5px;
}

#sendMessageButton {
    height: 50px;
    width: 100px;
    margin: 10px 5px 5px 2px;
    background-color: #0d9b8a;
    color: white;
}

@media only screen and (max-width: 600px) {
    #messageTextarea {
        height: 65px;
    }

    #sendMessageButton {
        height: 65px;
    }
}

.messageBox {
    display: flex;
    margin: 10px;
}

.mbox-right {
    justify-content: end;
}

.mbox-left {
    justify-content: start;
}

.message {
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
}

.msg-right {
    background-color: #0d9b8a;
    color: white;
}

.msg-left {
    background-color: #86cdc5;
}

@media only screen and (max-width: 600px) {
    .message {
        max-width: 200px;
    }
}

#privateMessages {
    display: flex;
    flex-direction: column;
}

.pmBox {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 75px;
    cursor: pointer;
    border-bottom: 2px solid #0D9B8A;
}

.pmBox:hover {
    background-color: rgba(211, 211, 211, 0.75);
}

.pmBox.active {
    background-color: #0D9B8A;
    color: white;
    border-top-left-radius: 10px;
}

.pmBox.active:hover {
    background-color: #0c8778;
}

.pmBox > * {
    pointer-events: none;
    font-weight: 700;
}

.user-avatar {
    min-width: 64px;
    min-height: 64px;
    background-color: #0D9B8A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: var(--shadow-md);
    border: 2px solid black;
    margin: 10px;
    color: white;
}

#introMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
