body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 85%;
    width: 100%;
    margin-bottom: 10px;
}

#privateMessages {
    display: flex;
    height: 100%;
    width: 25%;
    border: 2px solid gray;
    border-radius: 15px 0 0 15px;
}

#mainBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    align-items: end;
    justify-content: center;
    border: 2px solid gray;
    border-left: none;
    border-radius: 0 15px 15px 0;
}

#messagesBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#messageTextarea {
    display: flex;
    text-align: center;
    height: 50px;
    width: 100%;
    resize: none;
    scrollbar-width: none;
    margin: 10px 2px 5px 5px;
}

#sendMessageButton {
    height: 50px;
    width: 100px;
    margin: 10px 5px 5px 2px;
}

@media only screen and (max-width: 600px) {
    #messageTextarea {
        height: 65px;
    }

    #sendMessageButton {
        height: 65px;
    }
}

.messageBox {
    margin: 10px;
}

.mbox-right {
    justify-items: end;
}

.mbox-left {
    justify-items: start;
}

.message {
    max-width: 350px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .message {
        max-width: 200px;
    }
}
